IUT/Semestre4/ap/JEE/12-03-09_tp3/hellobean-project/HelloBeanSOAPClient/src/wsdl/helloService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="HelloBeanServiceSOAPService" targetNamespace="http://soap.jee.iut/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.jee.iut/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.jee.iut/" version="1.0" xmlns:tns="http://soap.jee.iut/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="add" type="tns:add" />
<xs:element name="addResponse" type="tns:addResponse" />
<xs:element name="del" type="tns:del" />
<xs:element name="delResponse" type="tns:delResponse" />
<xs:element name="get" type="tns:get" />
<xs:element name="getAll" type="tns:getAll" />
<xs:element name="getAllResponse" type="tns:getAllResponse" />
<xs:element name="getResponse" type="tns:getResponse" />
<xs:element name="sayHello" type="tns:sayHello" />
<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />
<xs:element name="update" type="tns:update" />
<xs:element name="updateResponse" type="tns:updateResponse" />
<xs:complexType name="sayHello">
<xs:sequence />
</xs:complexType>
<xs:complexType name="sayHelloResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="update">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:helloBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="helloBean">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="test" type="xs:string" />
<xs:element form="qualified" minOccurs="0" name="clientName" type="xs:string" />
<xs:element form="qualified" minOccurs="0" name="helloMsg" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="hellobean" type="tns:helloBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="del">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="delResponse">
<xs:sequence>
<xs:element minOccurs="0" name="boolean" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="add">
<xs:sequence>
<xs:element minOccurs="0" name="hellobean" type="tns:helloBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addResponse">
<xs:sequence>
<xs:element minOccurs="0" name="hellobean" type="tns:helloBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="get">
<xs:sequence>
<xs:element minOccurs="0" name="clientname" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getResponse">
<xs:sequence>
<xs:element minOccurs="0" name="hellobean" type="tns:helloBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAll">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getAllResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hellobeanlist" type="tns:helloBean" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="get">
    <wsdl:part element="tns:get" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delResponse">
    <wsdl:part element="tns:delResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllResponse">
    <wsdl:part element="tns:getAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAll">
    <wsdl:part element="tns:getAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="del">
    <wsdl:part element="tns:del" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="helloService">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="del">
      <wsdl:input message="tns:del" name="del">
    </wsdl:input>
      <wsdl:output message="tns:delResponse" name="delResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
    </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:get" name="get">
    </wsdl:input>
      <wsdl:output message="tns:getResponse" name="getResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAll" name="getAll">
    </wsdl:input>
      <wsdl:output message="tns:getAllResponse" name="getAllResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloBeanServiceSOAPServiceSoapBinding" type="tns:helloService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sayHello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="del">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="del">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="delResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="add">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="get">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloBeanServiceSOAPService">
    <wsdl:port binding="tns:HelloBeanServiceSOAPServiceSoapBinding" name="helloServicePort">
      <soap:address location="http://info-rabeuxw.iut.bx1:8080/ContactSOAP/helloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>